$primary-color: #488FB1;
$secondary-color: #4FD3C4;
$text-color: #533E85;
$bright-color: #C1F8CF;


$small-square-width: 6rem;
$gap: 0.75rem;


:root {
  margin: 0px;
  padding: 0px;
  font-size: 12pt;
}

body {
  font-family: Helvetica ;
  color: $text-color;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

@import '_squares';
@import '_header';